
# dependencies
/node_modules


# development
/config
/public
/scripts
/src

.gitignore
.npmignore
.vscode
yarn.lock


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
